* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100vw;
  background-image: url(../images/banner/banner3.png);
  height: 808px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 230px 0 0;
  text-align: right;
}

.header h1 {
  font-size: 65px;
  font-weight: 700;
}

.header p {}

.button {
  display: inline-block;
  text-align: right;
  color: blue;
  text-decoration: none;
  padding: 15px 25px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 20px;
  color: rgba(0, 95, 172, 1);
  font-weight: bold;
}

.success {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 230px 60px 130px;
}

.right {
  flex-basis: 45%;
  padding: 0 60px;
}

.left {
  flex-basis: 45%;
}

.right h2 {
  font-size: 40px;
  margin-bottom: 24px;
}

.right p {
  margin-bottom: 16px;
}

.right li {
  list-style: none;
  margin-bottom: 5px;
  text-align: justify;
  line-height: 20px;
}

.right i {
  margin-right: 5px;
  color: rgba(22, 216, 135, 1);
}

.my-plan h2 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}